@import url('https://fonts.googleapis.com/css2?family=Peddana&family=Raleway&display=swap');

@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Cascadia';
  src: local('Cascadia'), url('../fonts/Cascadia.ttf') format('truetype');
}

.active {
  color: rgb(230, 219, 219);
}

hr {
  border-top: 1px solid #51dc8f;
}

@tailwind utilities;
